<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Movie Details</title>
</head>
<body class="movie-details-body">
  <h1>Movie Details</h1>
  <h2><%= movie.Title %></h2>
  <p><strong>Year:</strong> <%= movie.Year %></p>
  <p><strong>Genre:</strong> <%= movie.Genre %></p>
  <p><strong>Director:</strong> <%= movie.Director %></p>
  <p><strong>Plot:</strong> <%= movie.Plot %></p>
</body>
</html>